html {
  -webkit-font-smoothing: antialiased;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: black;
}

h1, h4 {
  font-family: Oswald, sans-serif;
}

h1 {
  font-size: 48px;
}

p {
  font-family: "PT Sans", sans-serif;
}

textarea {
  display: none;
}

.header {
  color: white;
  font-weight: bold;
  font-size: 48px;
  font-family: Oswald, sans-serif;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

#timer {
  text-align: left;
}

#time p {
  font-family: Oswald, sans-serif;
  display: inline-block;
}

#hideTimer {
  padding: 0px;
  background: black;
  border: none;
  display: none;
}

header i {
  transition: 0.2s;
  color: gray;
}

header i:hover {
  transition: 0.2s;
  color: white;
}

#show_timer {
  display: none;
}

#show_timer p {
  font-size: 16px;
  cursor: pointer;
}

#copy_form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
}

#button_holder {
  text-align: center;
}

#start {
  padding: 0px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  background: rgb(244,185,0);
  color: white;
  transition: 0.2s;
}

#start:hover {
  background: rgb(106,87,4);
  transition: 0.2s;
}

#copy {
  display: none;
  font-size: 20px;
  line-height: 30px;
  color: #333;
  margin-left: 12%;
  margin-right: 12%;
  padding: 20px;
  min-height: 1000px;
}

.form-actions {
    margin: 0;
    padding-bottom: 10px;
    background-color: transparent;
    text-align: center;
}

#submit {
  font-family: PT Sans, sans-serif;
  background: black;
  color: white;
  width: 150px;
  height: 50px;
  line-height: 50px;
  padding: 0px;
  border-radius: 5px;
}

#submit_body {
  text-align: center;
  color: white;
}

#submit_body h1 {
  margin-top: 250px;
  font-size: 96px;
}

#submit_body p {
  font-size: 24px;
}

#submit_body hr {
  color: rgb(244,185,0);
  width: 35%;
}

#submit_body a {
  color: rgb(244,185,0);
  transition: 0.2s;
}

#submit_body a:hover {
  color: rgb(106,87,4);
  transition: 0.2s;
}
